include "misc.kdl"
include "environment.kdl"
include "outputs.kdl"
include "input.kdl"
include "layout.kdl"
include "animations.kdl"
include "recent-windows.kdl"
include "gestures.kdl"
include "startup.kdl"
include "rules.kdl"
include "binds.kdl"
