environment {
    WLR_NO_HARDWARE_CURSORS "1"
    __GLX_VENDOR_LIBRARY_NAME "nvidia"
    GBM_BACKEND "nvidia-drm"
    LIBVA_DRIVER_NAME "nvidia"
    NVD_BACKEND "direct"
    SDL_VIDEODRIVER "wayland"
    XDG_SESSION_TYPE "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}
