// Rounding
window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
}

// Opacity Rules
window-rule {
    match app-id=r#"^(kitty|nautilus|Nautilus|org\.gnome\.Nautilus|nwg-look|file-roller|org\.manjaro\.pamac\.manager|spotube|pavucontrol|nm-connection-editor|org\.gnome\.FileRoller|steam|zenity|Rofi|cmake-gui|codium-url-handler|Bitwarden|evince|Tk|feh)$"#
    opacity 0.9
}

// Floating Rules
window-rule {
    match app-id=r#"^(kitty|nautilus|Nautilus|org\.gnome\.Nautilus|nwg-look|file-roller|org\.manjaro\.pamac\.manager|spotube|pavucontrol|nm-connection-editor|org\.gnome\.FileRoller|Rofi|cmake-gui|Bitwarden|Tk|feh)$"#
    open-floating true
}

// Title-based Rules
window-rule {
    match title="File Upload"
    open-floating true
    opacity 0.7
}

window-rule {
    match title="Picture-in-Picture"
    open-floating true
    opacity 0.9
}
